* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(253, 246, 246);
}

.card-deck {
    margin-top: 5%;
    width: 100%;
}

#headline {
    text-align: center;
    margin-top: 5%;
}

#movie {
    margin-bottom: 5%;
    text-align: center;
}

.bg-light {
    background-color: black !important;
    color: white;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    p {
        padding: 10px;
        margin: 0px;
    }
}

#headline-info {
    text-align: center;
}

#movie-info {
    overflow: hidden;
    #img {
        width: 70%;
        float: left;
    }
    #seasons {
        float: left;
    }
}

#show-details {
    clear: both;
}